{% extends('layouts/navbaradmin.html')%}
{% block content %}
 <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">bibliotèque</h1>
         <h1 class="h3 mb-0 text-gray-800">Admin</h1>
    </div>

    <div class="row justify-content-left">
       <div class="col-md-12">
           <br />
           <div class="card">
               <div class="card-header bgsize-primary-4 white card-header">
                   <h4 class="card-title">liste des Rapports</h4>
               </div>
               <div class="card-body">
                   <div class="pull-right">

                   </div>
                   <div class=" card-content table-responsive">
         <table class="table table-hover">
             <tr class="table-primary">
                <td>Nom</td>
                <td> Année universitaire</td>
                <td>Rapport</td>
             </tr>
             {% for datas in row %}
                 <tr>
                     <td>{{ row.1 }}</td>
                     <td>{{ row.3 }}</td>
                      <td>{{ row.2 }}</td>
                     <td>

                     </td>
                 </tr>
                 <!-- Modal -->
             {% endfor %}
         </table>
         </div>
     </div>
   </div>
       </div>
    </div>

{% endblock %}